
<div class="text-center"><h2><u><%=@user_profile.username %>'s Profile Page</u></h2>

	<% if @same_user == true %>
		<a class="" href="/games/new">Add New Game</a> 
		
	<%end%>	
</div>

<div class="col-headers row">
	<br>
	<h4 class="col-md-4 text-center">Games</h4>
	<h4 class="col-md-4 text-center">Characters</h4>
	<h4 class="col-md-4 text-center">Genre</h4>
</div>


<br>
<br>

<ol class="row">
		
	<% @user_profile.games.each do |game| %>
	
	<li>
		<div class="col-md-4 text-center">
		<b><a href="/games/<%=game.slug%>"><%=game.title.split.collect{|word| word.capitalize}.join(" ")%></a></b> published by: <%=game.publisher%> 
		</div>

		<div class="col-md-4 text-center">
		number of characters
		</div>


		<div class="col-md-4 text-center"><%=game.genre.split.collect{|word| word.capitalize}.join(" ")%></div>
	</li>
	
	<%end%>

</ol>

<br><br>

