
<div class="text-center"><h2><u><%=@user_profile.username %>'s Profile Page</u></h2>

	<% if @same_user == true %>
		<a class="" href="/games/new">Add New Game</a> 
		
	<%end%>	
</div>

<div class="col-headers row">
	<br>
	<h4 class="col-md-4 text-center">Games</h4>
	<h4 class="col-md-4 text-center">Characters</h4>
	<h4 class="col-md-4 text-center">Genre</h4>
</div>


<br>
<br>

<ol class="row">
	
	<% @user_profile.games.each do |game| %>

	<% if @same_user == true %>

	<form method="get" action="/games/<%=game.slug%>/delete">	

	<%end%>	

	<br>
	<li>
		<div class="col-md-4 text-center">
		<b><a href="/games/<%=game.slug%>"><%=game.title.split.collect{|word| word.capitalize}.join(" ")%></a></b> published by: <%=game.publisher%> 

		<% if @same_user == true %>

		<input type="submit" name="submit" value="Delete">

		<%end%>	

		</div>

		<div class="col-md-4 text-center">
			<a href="<%=game.slug%>/characters"><%=game.characters.count%></a>
		</div>


		<div class="col-md-4 text-center"><%=game.genre.split.collect{|word| word.capitalize}.join(" ")%></div>
	</li>

	<% if @same_user == true %>

	</form>

	<%end%>	

	<%end%>
</ol>

<br><br>

