<div class="text-center"><h1><u><%=@game.title.split.collect{|word| word.capitalize}.join(" ")%> Players</u></h1>

<b>Published By: <%=@game.publisher.split.collect{|word| word.capitalize}.join(" ") %></b>
<br>
<b>Genre: <%=@game.genre.split.collect{|word| word.capitalize}.join(" ") %></b>
<br>
</div>

	<ul class="row">
			
			<% @game.users.all.each do |user| %>
				<p class="col-md-4"></p>
				<li class="col-md-4">
					<a href="/users/<%=user.slug%>"><%=user.username%></a>
				</li>

			<%end%>


	</ul>
