<h1 class="text-center"><b><%=@user_profile.username%></b></h1>
<h3 class="text-center"><u><%=@game.title.split.collect{|word| word.capitalize}.join(" ")%> Characters</u></h3>

<div>
	
	<h5 class="text-left">Name</h5>
	<!-- <h5 class="col-md-4 text-left">Class</h5>
	<h5 class="col-md-4 text-left">Level</h5> -->



</div>

<ol class="text-left">
	
	<%@characters.each do |character|%>

		<li>
				<a href="/users/<%=@user_profile.slug%>/<%=@game.slug%>/characters/<%=character.slug%>"><%=character.name%></a>

			<!-- <div class="col-md-4 text-left"><%=character.klass%></div>
			<div class="col-md-4 text-left"><%=character.level%></div> -->
		</li>

	<%end%>


</ol>

